/* General Styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  background-color: #f4f7fa; /* Light background for a cleaner look */
  margin: 0;
}

h1 {
  color: #333333;
  font-size: 32px;
  margin-bottom: 20px;
}


p {
  color: #666666;
  font-size: 12px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
  width: 45%; /* Adjust width to be side by side */
}

li {
  font-size: 12px;
  color: #444444;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  color: #333333;
}


.button {
  display: inline-block;
  padding: 15px 15px;
  font-size: 12px;
  margin: 10px;
  border: none;
  cursor: pointer;
  background-color: #007BFF; 
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); /* Slightly enlarges button on hover */
}

.activated {
  background-color: orangered !important;
  color: white;
}

.status {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #007BFF; /* Blue text color for status */
}


.sensor-container {
  display: flex;
  justify-content: space-between; /* Place items side by side */
  margin-top: 40px;
}

/* Small Screen Adjustments */
@media (max-width: 768px) {
  .sensor-container {
    flex-direction: row; /* Stack lists vertically on small screens */
    align-items: center; /* Center align the lists */
  }

  ul {
    width: 100%; /* Make the lists take up 100% on small screens */
    margin-bottom: 20px; /* Space between the two lists */
  }
}

.orientation-info {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.portrait {
  background-color: #4CAF50; /* Green for Portrait */
  color: white;
}

.landscape {
  background-color: #FF9800; /* Orange for Landscape */
  color: white;
}

.upside-down {
  background-color: #D32F2F; /* Red for Upside-Down Portrait */
  color: white;
}

